manifest.mainScript = 'viral-metagenomics.nf'

process {
    withName: get_ncbi_accession { 
      cpus = 1 
      memory = 1.GB 
    } 
    withName: countReads { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: index_viral_genomes { 
      cpus = 1 
      memory = 1.GB 
    } 
    withName: align_viral_genomes { 
      cpus = 4 
      memory = 8.GB 
    } 
    withName: alignment_stats { 
      cpus = 1 
      memory = 4.GB 
    } 
    withName: summarize_each { 
      cpus = { 4 * task.attempt }
      memory = { 30.GB * task.attempt }
      errorStrategy "retry"
      maxRetries = { task.exitStatus == 137 ? 4 : 1 }
    } 
    withName: collectCounts { 
      cpus = 4 
      memory = 30.GB 
    } 
    withName: collect { 
      cpus = 1 
      memory = 4.GB 
    } 
}